body {
    color: #313131;
}

/*背景色渐变*/
body {
    filter: progid:DXImageTransform.Microsoft.Gradient(enabled = true, startColorStr = #f2f2f2, endColorStr = #ffffff);
    background: -moz-linear-gradient(top, #f2f2f2, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ffffff));
}

a {
    color: #c14d98;
}

.testing td a, .index .version, .example .sen {
    color: #626262;
}

.check td a {
    color: #d0d0d0;
}

.testing .space {
    color: #54903f;
    border-bottom: 1px solid #b9b9b9;
}

.business .additional {
    color: #959595;
}
.testing td a:hover,.testing td a:active,.check td.wrong ,.check td.right{
    background-image: url("index_split.png");
    _background: url("");
}